@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-bright-salmon;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn {
  @apply flex justify-center items-center font-poppins text-white bg-purple shadow rounded-full mt-5 py-4 px-6 text-white cursor-pointer select-none;
}
